.background-dark{
  background: url("images/pittsburgh.jpg") center center no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 500px;
  text-align: center;
}
header{
  color: white;
}
.websites{
  width: 80%;
}
 h1{
   font-family: 'Righteous', cursive;
   font-size: 60px;
 }
 span{
   font-size: 30px;
 }
