.background-dark{

  background: linear-gradient( to bottom, hsla(0, 0%, 27%, 0.6), rgba(0, 0, 0,.8) ),
  url("images/pittsburgh.jpg") center center no-repeat;


  background-size: cover;
  background-color: black;
  min-height: 500px;
  text-align: center;
}
header{
  color: white;
}
.websites img{
  width: 400px;
}
 h1{
   font-family: 'Righteous', cursive;
   font-size: 60px;
 }
 span{
   font-size: 30px;
 }
.websites .flex-box{
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
 }
 .col-sm-6{
   box-sizing: border-box;
   flex-basis: 10%;
 }
 .front-end{
   margin-top: 30px;
   font-size: 20px;
 }
 .experience{
   margin-top: 30px;
   font-size: 20px;
 }
 .profile{
   margin-top: 30px;
 }
 i{
   font-size: 30px;
   padding: 5px;
 }
 img{
  height: 198px;
 }
