.background-dark{
  background: url("images/pittsburgh.jpg") center center no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 500px;
  text-align: center;
}
header{
  color: white;
}
.websites img{
  width: 400px;
}
 h1{
   font-family: 'Righteous', cursive;
   font-size: 60px;
 }
 span{
   font-size: 30px;
 }
.websites .flex-box{
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
 }
 .col-sm-6{
   box-sizing: border-box;
   flex-basis: 10%;
 }
